<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="home_page">

        <ul class="category_box">
            <li class="left_box">
                <img class="milliy_img" src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="category" width="300" height="250">
                <div class="box_text">
                    
                    <a class="link_box" href="/milliy">Milliy Taomlar</a>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>    
            </li>

            <li class="right_box">
                <img class="milliy_img" src="https://img.freepik.com/free-vector/fast-food-template_1284-14588.jpg?w=2000" alt="category" width="300" height="250">
                <div class="box_text">
                    
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <a class="link_box" href="/fast">Fast Food</a>
                </a>
            </div>    
            </li>
        </ul>
    </div>
    
</body>
</html>